.auth{
    background: linear-gradient(to right , rgb(255, 115, 111) , rgb(236, 8, 8));
    height: inherit;
    width: 50vw;
    margin: 7rem auto;
    box-shadow: 2px  2px 10px blue;
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.auth p{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;

}

.auth h1{
    color: white;
    font-size: 3rem;
}

.auth button{
    font-size:2rem;
    font-weight: bold;
    color: black;
    background: white;
    padding: 15px;
    border-radius:10px ;
    border: 1px solid black;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.auth button:hover{
    background: red;
    color: white;

}

@media only screen and (max-width: 780px) {

    .auth h1{
        font-size: 2rem;
    }
     .auth p{
      font-size: 1rem;
    }
    .auth button{
      font-size: 1.2rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .auth h1{
        font-size: 1.5rem;
    }
     .auth p{
      font-size: 1rem;
    }
    .auth button{
      font-size: 1.2rem;
    }
  }
  